In [7]:
############This notebook looks at data from different datasets to get the first feel of it.

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data_dir = "../Datasets/connectivity.csv"
connect = pd.read_csv(data_dir, nrows=2)

In [8]:
connect.keys()

Index(['country_code', 'statistic', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

Shape : country\*connect_way(3)\*year(2000-2017)

In [12]:
data_dir = "../Datasets/consumption.csv"
consump = pd.read_csv(data_dir, nrows=2)

In [11]:
consump.keys()

Index(['country_code', 'area', 'product', 'value', 'exchange_rate',
       'consumption_segment', 'indicator', 'ppp_conversion_factor', 'unit'],
      dtype='object')

Shape: country\*area\*product\*consumption\*indicator

In [14]:
data_dir = "../Datasets/health_indicators.csv"
health_id = pd.read_csv(data_dir, nrows=2)
pd.read_csv(data_dir, nrows=2)

,country_code,year,"Adolescent fertility rate (births per 1,000 women ages 15-19)",Adults (ages 15+) and children (ages 0-14) newly infected with HIV,Adults (ages 15+) newly infected with HIV,Age dependency ratio (% of working-age population),"Age dependency ratio, old (% of working-age population)","Age dependency ratio, young (% of working-age population)",Antiretroviral therapy coverage (% of people living with HIV),Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV),...,Wanted fertility rate (births per woman),Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%)
0,ARG,1969,63.5602,NaN,NaN,57.035651,10.801858,46.233793,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ARG,1970,65.1408,NaN,NaN,57.020471,11.022459,45.998012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
health_id.keys()

Index(['country_code', 'year',
       'Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Adults (ages 15+) and children (ages 0-14) newly infected with HIV',
       'Adults (ages 15+) newly infected with HIV',
       'Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old (% of working-age population)',
       'Age dependency ratio, young (% of working-age population)',
       'Antiretroviral therapy coverage (% of people living with HIV)',
       'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)',
       ...
       'Wanted fertility rate (births per woman)',
       'Women who believe a husband is justified in beating his wife (any of five reasons) (%)',
       'Women who believe a husband is justified in beating his wife when she argues with him (%)',
       'Women who believe a husband is justified in beating his wife when she burns the food (%)',
       'Women who believe a husband is justified in beating his wife when she goes out without telling him (%)',
       'Women who believe a husband is justified in beating his wife when she neglects the children (%)',
       'Women who believe a husband is justified in beating his wife when she refuses sex with him (%)',
       'Women who were first married by age 15 (% of women ages 20-24)',
       'Women who were first married by age 18 (% of women ages 20-24)',
       'Women's share of population ages 15+ living with HIV (%)'],
      dtype='object', length=246)

Shape: country year indicator

In [17]:
data_dir = "../Datasets/immunization.csv"
immun = pd.read_csv(data_dir, nrows=2)
immun

,country_code,statistic,1980,1981,1982,1983,1984,1985,1986,1987,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,AFG,BCG immunization coverage among 1-year-olds (%),NaN,NaN,10.0,10.0,11.0,17.0,18.0,27.0,...,66,64,68,71,78,72,74,74,74,74
1,AFG,Measles-containing-vaccine second-dose (MCV2) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23,24,29,31,33,35,39,39,39,39

Shape: country disease year (1980-2017)